.version.free_session_form /* version checker */
{
	color: #0000F0;
	background-color: #D2B2FE;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1002.9831920903955px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 21px;
	padding-bottom: 0px;
}

#pu1045
{
	width: 0.01px;
}

#u1045
{
	z-index: 2;
	min-height: 18px;
	padding-bottom: 4px;
}

#u1797-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 3px;
	left: 94px;
}

#u1045-bw
{
	z-index: 2;
	min-height: 18px;
	margin-top: 58px;
}

#u1073-4
{
	z-index: 84;
	width: 29px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 374px;
}

#u1074-4
{
	z-index: 88;
	width: 51px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 410px;
}

#u1075-4
{
	z-index: 92;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 469px;
}

#u1076-4
{
	z-index: 96;
	width: 56px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 563px;
}

#u1077-4
{
	z-index: 100;
	width: 44px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 627px;
}

#u1080-4
{
	z-index: 104;
	width: 66px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 680px;
}

#u1078
{
	z-index: 108;
	width: 341px;
	margin-right: -10000px;
	left: 20px;
}

#pu1418-4
{
	width: 0.01px;
	margin-left: 95px;
	margin-top: 21px;
}

#u1418-4
{
	z-index: 61;
	width: 579px;
	min-height: 53px;
	background-color: transparent;
	color: #A0A0A0;
	text-align: center;
	font-size: 41px;
	line-height: 49px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#video
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 278px;
}

#u1420
{
	z-index: 65;
	width: 640px;
	min-height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 64px;
	margin-top: 10px;
	position: relative;
}

#pu1391
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 19px;
}

#u1391
{
	z-index: 7;
	width: 469px;
	background-color: #E1E1DE;
	position: relative;
	margin-right: -10000px;
	padding: 10px 86px 204px 85px;
}

#u1409-4
{
	z-index: 53;
	width: 234px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 45px;
	line-height: 54px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 118px;
	position: relative;
}

#u1410-4
{
	z-index: 57;
	width: 469px;
	min-height: 32px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#widgetu1392
{
	z-index: 8;
	width: 0.01px;
	height: 175px;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 117px;
}

#widgetu1399
{
	z-index: 9;
	width: 406px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu1399.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 406px;
	height: 30px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1402-4
{
	z-index: 10;
	width: 392px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu1399.non-empty-st #u1402-4
{
	background-color: #FFFFFF;
}

#widgetu1399:hover #u1402-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1399.focus-st #u1402-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1399.non-empty-st #u1402-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1399:hover #u1402-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1399.focus-st #u1402-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1404
{
	z-index: 14;
	width: 406px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: -1px;
}

#widgetu1404.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 406px;
	height: 30px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#u1405-4
{
	z-index: 15;
	width: 392px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu1404.non-empty-st #u1405-4
{
	background-color: #FFFFFF;
}

#widgetu1404:hover #u1405-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1404.focus-st #u1405-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1399.fld-err-st #u1402-4,#widgetu1404.fld-err-st #u1405-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 392px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1404.non-empty-st #u1405-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1404:hover #u1405-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1404.focus-st #u1405-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1399_input,#widgetu1399_prompt,#widgetu1404_input,#widgetu1404_prompt
{
	width: 392px;
	min-height: 16px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	padding: 6px;
}

#u1397-4
{
	z-index: 19;
	width: 89px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 10px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 176px;
}

#widgetu1392.frm-sub-st #u1397-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu1392.frm-sub-st #u1397-4 p
{
	color: #999999;
	font-size: 10px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1403-4
{
	z-index: 23;
	width: 268px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 69px;
}

#widgetu1392.frm-subm-err-st #u1403-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu1392.frm-subm-err-st #u1403-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1398-4
{
	z-index: 27;
	width: 95px;
	min-height: 10px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	text-align: right;
	font-size: 10px;
	line-height: 10px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 282px;
}

#widgetu1392.frm-subm-ok-st #u1398-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 14px;
}

#widgetu1392.frm-subm-ok-st #u1398-4 p
{
	color: #999999;
	font-size: 10px;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1408-17
{
	z-index: 31;
	min-height: 32px;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	background: url("../../images/u1408-17.png") no-repeat 0px 0px;
}

#u1408-17:hover
{
	background: url("../../images/u1408-17-r.png") no-repeat 0px 0px;
}

#u1408-17:active
{
	background: url("../../images/u1408-17-m.png") no-repeat 0px 0px;
}

#widgetu1392.frm-sub-st #u1408-17
{
	background: url("../../images/u1408-17-fs.png") no-repeat 0px 0px;
}

#widgetu1393
{
	z-index: 48;
	width: 407px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: -1px;
}

#widgetu1393.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 407px;
	height: 30px;
	min-height: 0px;
	margin: 73px -10000px 0px 0px;
}

#u1396-4
{
	z-index: 49;
	width: 393px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu1393.non-empty-st #u1396-4
{
	background-color: #FFFFFF;
}

#widgetu1393:hover #u1396-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 393px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1393.focus-st #u1396-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 393px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1393.fld-err-st #u1396-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 393px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1393.non-empty-st #u1396-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1393:hover #u1396-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1393.focus-st #u1396-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1399.fld-err-st #u1402-4 *,#widgetu1404.fld-err-st #u1405-4 *,#widgetu1393.fld-err-st #u1396-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1393_input,#widgetu1393_prompt
{
	width: 393px;
	min-height: 16px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	padding: 6px;
}

#widgetu1399:hover #widgetu1399_input,#widgetu1399.focus-st #widgetu1399_input,#widgetu1399.fld-err-st #widgetu1399_input,#widgetu1399:hover #widgetu1399_prompt,#widgetu1399.focus-st #widgetu1399_prompt,#widgetu1399.fld-err-st #widgetu1399_prompt,#widgetu1404:hover #widgetu1404_input,#widgetu1404.focus-st #widgetu1404_input,#widgetu1404.fld-err-st #widgetu1404_input,#widgetu1404:hover #widgetu1404_prompt,#widgetu1404.focus-st #widgetu1404_prompt,#widgetu1404.fld-err-st #widgetu1404_prompt,#widgetu1393:hover #widgetu1393_input,#widgetu1393.focus-st #widgetu1393_input,#widgetu1393.fld-err-st #widgetu1393_input,#widgetu1393:hover #widgetu1393_prompt,#widgetu1393.focus-st #widgetu1393_prompt,#widgetu1393.fld-err-st #widgetu1393_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1399.non-empty-st #widgetu1399_prompt,#widgetu1404.non-empty-st #widgetu1404_prompt,#widgetu1393.non-empty-st #widgetu1393_prompt
{
	visibility: hidden;
}

#freetrial
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 309px;
}

#pu1425
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 28px;
}

#u1425
{
	z-index: 68;
	width: 640px;
	background-color: #E1E1DE;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u1429
{
	z-index: 81;
	width: 193px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 7px;
}

#pu1426-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 72px;
	margin-left: 203px;
}

#u1426-4
{
	z-index: 69;
	width: 432px;
	min-height: 29px;
	background-color: transparent;
	text-align: left;
	font-size: 26px;
	line-height: 31px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1428-4
{
	z-index: 77;
	width: 422px;
	min-height: 80px;
	background-color: transparent;
	letter-spacing: -1px;
	text-align: left;
	font-size: 17px;
	line-height: 20px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u1427-4
{
	z-index: 73;
	width: 322px;
	min-height: 39px;
	background-color: transparent;
	text-align: left;
	font-size: 45px;
	line-height: 54px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 203px;
}

#u1440
{
	z-index: 83;
	height: 64px;
	background-color: #D8E028;
}

#u1440-bw
{
	z-index: 83;
	margin-top: 64px;
	height: 64px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

