#u1073-4,#u1074-4,#u1075-4,#u1076-4,#u1077-4,#u1080
{
	font-family: league-gothic-n4, sans-serif;
}

#u1201-6,#u1207-14,#u1212-16,#u1219-12,#u1226-16,#u1232-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u1777-6,#u1779-4,#u1770-4,#u1771-4,#u1772-4,#u1773-4,#u1774-4,#u1784-4,#u1152-4,#u1162-12,#u1164-4,#u1173-4,#u1190-4,#u1196-13,#u1237-6,#u1243-4,#u1264-4,#u1324-4,#u1326-4,#u1329-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1780-4,#u1781-6,#u1782-6,#u1783-5,#u1163-21,#u1165-10,#u1166-8,#u1174-4,#u1175-6,#u1176-13,#u1177-6,#u1189-30,#u1200-6,#u1202-4,#u1208-4,#u1213-4,#u1220-4,#u1225-4,#u1233-4,#u1244-4,#u1245-4,#u1246-4,#u1247-4,#u1248-4,#u1249-4,#u1277-4,#u1265-4,#u1266-4,#u1267-4,#u1272-4,#u1275-4,#u1268-4,#u1269-4,#u1273-4,#u1276-4,#u1270-4,#u1271-4,#u1274-4,#u1327-4,#u1328-4,#u1349-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1335-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1339-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u1343-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

