#u165-4,#u168-4,#u650-4,#u169-4,#u170-4,#u172-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u912-4,#u916-10,#u920-7,#u922-4,#u987-4,#u923-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u866-4,#u867-6,#u868-6,#u869-4,#u875-14,#u877-10,#u878-8,#u886-4,#u887-8,#u888-5,#u889-10,#u891-30,#u915-4,#u917-4,#u919-4,#u924-4,#u921-4,#u986-7,#u517-4,#u519-4,#u520-4,#u521-4,#u522-4,#u523-4,#u525-6,#u2420-4,#u2421-4,#u2422-4,#u2423-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u864-8,#u978-4,#u498-4,#u499-4,#u500-4,#u501-4,#u502-4,#u836-4,#u496-4,#u874-14,#u876-4,#u885-4,#u890-4,#u506-8,#u910-6,#u514-4,#u516-4,#u524-6,#u538-4
{
	font-family: league-gothic-n4, sans-serif;
}

