.version.newsletter_page /* version checker */
{
	color: #0000FC;
	background-color: #EAD349;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
	width: 0.01px;
}

#pu173
{
	width: 0.01px;
	margin-left: -100px;
}

#u165-4
{
	z-index: 3;
	width: 40px;
	min-height: 20px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 725px;
}

#u168-4
{
	z-index: 7;
	width: 65px;
	min-height: 21px;
	margin-bottom: -3px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 772px;
}

#pu650-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 40px -10000px -3px 844px;
}

#u650-4
{
	z-index: 30;
	width: 208px;
	min-height: 39px;
	margin-left: 60px;
}

#pu169-4
{
	width: 0.01px;
	margin-top: 13px;
}

#u169-4
{
	z-index: 11;
	width: 116px;
	min-height: 20px;
	margin-right: -10000px;
}

#u170-4
{
	z-index: 15;
	width: 76px;
	min-height: 20px;
	margin-right: -10000px;
	left: 123px;
}

#u172-4
{
	z-index: 19;
	width: 60px;
	min-height: 20px;
	margin-right: -10000px;
	left: 208px;
}

#u173,#u173-bw
{
	z-index: 2;
	min-height: 139px;
}

#u142
{
	z-index: 23;
	min-height: 37px;
}

#u173_align_to_page,#u142_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u187-4
{
	z-index: 24;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 215px;
}

#u142-bw
{
	z-index: 23;
	min-height: 37px;
	margin-top: 139px;
}

#u175
{
	z-index: 28;
	width: 636px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 67px;
}

#u977-12
{
	z-index: 34;
	width: 960px;
	min-height: 334px;
	background-color: transparent;
	text-align: center;
	margin-top: 75px;
	position: relative;
}

#u977-2
{
	font-size: 65px;
	line-height: 57px;
	color: #EF4036;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
}

#u977-10
{
	font-size: 218px;
	line-height: 190px;
	letter-spacing: -3px;
	color: #8A8A8A;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u977-4
{
	letter-spacing: -4px;
}

#u977-5,#u977-7
{
	letter-spacing: -5px;
}

#u977-8
{
	letter-spacing: -6px;
}

#u1525
{
	z-index: 46;
	height: 56px;
	background-color: #D8E028;
}

#u1525-bw
{
	z-index: 46;
	margin-top: 42px;
	height: 56px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

