.version.contact /* version checker */
{
	color: #0000E9;
	background-color: #065BCE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.7121019108282px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#pamphletu1917
{
	z-index: 2;
	width: 0.01px;
	height: 60px;
	margin-left: 305px;
}

#u1926popup
{
	z-index: 3;
}

#u1926
{
	width: 424px;
	padding-bottom: 44px;
	top: 79px;
	left: -327px;
}

#u1929
{
	z-index: 4;
	width: 380px;
	height: 379px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#menuu1947
{
	z-index: 5;
	width: 171px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 108px;
}

#u2165
{
	width: 171px;
}

#u2166
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u2166:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2169-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 11px;
}

#u2166:active #u2169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1958
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2166.MuseMenuActive,#u1958:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1959-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2166.MuseMenuActive #u2169-4,#u1958:active #u1959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1991
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u1958.MuseMenuActive,#u1991:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1994-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u1958.MuseMenuActive #u1959-4,#u1991:active #u1994-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2000
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u1991.MuseMenuActive,#u2000:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2003-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u1991.MuseMenuActive #u1994-4,#u2000:active #u2003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2000.MuseMenuActive,#u2005:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2008-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2000.MuseMenuActive #u2003-4,#u2005:active #u2008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1955,#u1990,#u1997,#u2004,#u2011
{
	width: 171px;
	margin-top: 2px;
}

#u2014
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2005.MuseMenuActive,#u2014:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2014.MuseMenuActive
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2017-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2005.MuseMenuActive #u2008-4,#u2014:active #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2014.MuseMenuActive #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1918
{
	z-index: 42;
	width: 75px;
	margin-right: -10000px;
}

#u1921
{
	width: 75px;
	height: 60px;
}

.ie #u1921
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1933
{
	width: 27px;
	padding-bottom: 3px;
	top: 101px;
	left: 46px;
}

#u1933:hover
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u1933:active
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u1934-4
{
	z-index: 45;
	width: 11px;
	min-height: 23px;
	margin-right: -10000px;
	left: 8px;
}

#pu1946
{
	width: 0.01px;
	margin-top: -50px;
}

#u1946
{
	z-index: 49;
	width: 36px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 324px;
}

#u1943
{
	z-index: 50;
	width: 36px;
	height: 4px;
}

#u1944
{
	z-index: 51;
	width: 36px;
	height: 4px;
	margin-top: 6px;
}

#u1945
{
	z-index: 52;
	width: 36px;
	height: 4px;
	margin-top: 6px;
}

#u1876
{
	z-index: 136;
	min-height: 15px;
	padding-bottom: 3px;
}

#u1877-4
{
	z-index: 137;
	margin-right: -10000px;
	margin-top: 3px;
	left: 80px;
}

#u1876-bw
{
	z-index: 136;
	min-height: 15px;
	margin-top: 50px;
}

#u1878
{
	z-index: 141;
	width: 292px;
	margin-right: -10000px;
	left: 13px;
}

#u2329-4
{
	z-index: 53;
	width: 189px;
	min-height: 45px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 38px;
	line-height: 46px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	margin-top: 23px;
	position: relative;
}

#pu2330-4
{
	width: 0.01px;
	margin-left: 21px;
}

#u2330-4
{
	z-index: 57;
	width: 253px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: -1px;
	color: #7F7F7F;
	font-size: 24px;
	line-height: 29px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u2331-4
{
	z-index: 61;
	width: 253px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: -1px;
	color: #7F7F7F;
	font-size: 24px;
	line-height: 29px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2355-4
{
	z-index: 132;
	width: 254px;
	min-height: 46px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 38px;
	line-height: 46px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#widgetu2333
{
	z-index: 65;
	width: 0.01px;
	height: 545px;
	margin-left: 20px;
	margin-top: 29px;
	position: relative;
}

#widgetu2334
{
	z-index: 66;
	width: 342px;
	height: 61px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu2334.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2335-4
{
	z-index: 67;
	width: 200px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	font-size: 24px;
	line-height: 24px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2336-4
{
	z-index: 71;
	width: 328px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

.html,#widgetu2334.non-empty-st #u2336-4
{
	background-color: #FFFFFF;
}

#widgetu2334:hover #u2336-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 28px -10000px 0px 0px;
}

#widgetu2334.focus-st #u2336-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 28px -10000px 0px 0px;
}

#widgetu2334.fld-err-st #u2336-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 28px -10000px 0px 0px;
}

#widgetu2334.non-empty-st #u2336-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2334:hover #u2336-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2334.focus-st #u2336-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2350
{
	z-index: 75;
	width: 342px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: -1px;
}

#widgetu2350.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 62px;
	min-height: 0px;
	margin: 68px -10000px 0px 0px;
}

#u2352-4
{
	z-index: 76;
	width: 200px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	font-size: 24px;
	line-height: 24px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2353-4
{
	z-index: 80;
	width: 328px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#widgetu2350.non-empty-st #u2353-4
{
	background-color: #FFFFFF;
}

#widgetu2350:hover #u2353-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2350.focus-st #u2353-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2350.non-empty-st #u2353-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2350:hover #u2353-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2350.focus-st #u2353-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2338-4
{
	z-index: 84;
	width: 123px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 216px;
}

#widgetu2333.frm-sub-st #u2338-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2339-4
{
	z-index: 88;
	width: 123px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 216px;
}

#widgetu2333.frm-subm-err-st #u2339-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 28px;
}

#widgetu2333.frm-subm-err-st #u2339-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2340-4
{
	z-index: 92;
	width: 123px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 216px;
}

#widgetu2333.frm-sub-st #u2338-4,#widgetu2333.frm-subm-ok-st #u2340-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2333.frm-subm-ok-st #u2340-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2349-17
{
	z-index: 96;
	min-height: 40px;
	width: 181px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	background: url("../../images/u2349-17.png") no-repeat 0px 0px;
}

#u2349-17:hover
{
	background: url("../../images/u2349-17-r.png") no-repeat 0px 0px;
}

#u2349-17:active
{
	background: url("../../images/u2349-17-m.png") no-repeat 0px 0px;
}

#widgetu2333.frm-sub-st #u2349-17
{
	background: url("../../images/u2349-17-fs.png") no-repeat 0px 0px;
}

#widgetu2345
{
	z-index: 113;
	width: 342px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 1px;
}

#widgetu2345.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 280px;
	min-height: 0px;
	margin: 210px -10000px 0px 0px;
}

#u2347-4
{
	z-index: 114;
	width: 200px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	font-size: 24px;
	line-height: 24px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2334.fld-err-st #u2335-4,#widgetu2345.fld-err-st #u2347-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u2346-4
{
	z-index: 118;
	width: 328px;
	min-height: 231px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#widgetu2345.non-empty-st #u2346-4
{
	background-color: #FFFFFF;
}

#widgetu2345:hover #u2346-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 231px;
	width: 328px;
	margin: 35px -10000px 0px 0px;
}

#widgetu2345.focus-st #u2346-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 231px;
	width: 328px;
	margin: 35px -10000px 0px 0px;
}

#widgetu2345.fld-err-st #u2346-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 231px;
	width: 328px;
	margin: 35px -10000px 0px 0px;
}

#widgetu2345.non-empty-st #u2346-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2345:hover #u2346-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2345.focus-st #u2346-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2345_input,#widgetu2345_prompt
{
	width: 328px;
	min-height: 231px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu2341
{
	z-index: 122;
	width: 342px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: -1px;
}

#widgetu2341.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 62px;
	min-height: 0px;
	margin: 138px -10000px 0px 0px;
}

#u2344-4
{
	z-index: 123;
	width: 200px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	text-align: left;
	font-size: 24px;
	line-height: 24px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2350.fld-err-st #u2352-4,#widgetu2341.fld-err-st #u2344-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2334.fld-err-st #u2335-4 p,#widgetu2334.fld-err-st #u2335-4 span,#widgetu2350.fld-err-st #u2352-4 p,#widgetu2350.fld-err-st #u2352-4 span,#widgetu2345.fld-err-st #u2347-4 p,#widgetu2345.fld-err-st #u2347-4 span,#widgetu2341.fld-err-st #u2344-4 p,#widgetu2341.fld-err-st #u2344-4 span
{
	color: #D7244C;
}

#u2342-4
{
	z-index: 127;
	width: 328px;
	min-height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#widgetu2341.non-empty-st #u2342-4
{
	background-color: #FFFFFF;
}

#widgetu2341:hover #u2342-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2341.focus-st #u2342-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2350.fld-err-st #u2353-4,#widgetu2341.fld-err-st #u2342-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 19px;
	width: 328px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2341.non-empty-st #u2342-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2341:hover #u2342-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2341.focus-st #u2342-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2334.fld-err-st #u2336-4 *,#widgetu2350.fld-err-st #u2353-4 *,#widgetu2345.fld-err-st #u2346-4 *,#widgetu2341.fld-err-st #u2342-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2334_input,#widgetu2334_prompt,#widgetu2350_input,#widgetu2350_prompt,#widgetu2341_input,#widgetu2341_prompt
{
	width: 328px;
	min-height: 19px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu2334.focus-st #widgetu2334_prompt,#widgetu2350.focus-st #widgetu2350_prompt,#widgetu2345.focus-st #widgetu2345_prompt,#widgetu2341.focus-st #widgetu2341_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2334:hover #widgetu2334_input,#widgetu2334.focus-st #widgetu2334_input,#widgetu2334.fld-err-st #widgetu2334_input,#widgetu2334:hover #widgetu2334_prompt,#widgetu2334.fld-err-st #widgetu2334_prompt,#widgetu2350:hover #widgetu2350_input,#widgetu2350.focus-st #widgetu2350_input,#widgetu2350.fld-err-st #widgetu2350_input,#widgetu2350:hover #widgetu2350_prompt,#widgetu2350.fld-err-st #widgetu2350_prompt,#widgetu2345:hover #widgetu2345_input,#widgetu2345.focus-st #widgetu2345_input,#widgetu2345.fld-err-st #widgetu2345_input,#widgetu2345:hover #widgetu2345_prompt,#widgetu2345.fld-err-st #widgetu2345_prompt,#widgetu2341:hover #widgetu2341_input,#widgetu2341.focus-st #widgetu2341_input,#widgetu2341.fld-err-st #widgetu2341_input,#widgetu2341:hover #widgetu2341_prompt,#widgetu2341.fld-err-st #widgetu2341_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2334.non-empty-st #widgetu2334_prompt,#widgetu2350.non-empty-st #widgetu2350_prompt,#widgetu2345.non-empty-st #widgetu2345_prompt,#widgetu2341.non-empty-st #widgetu2341_prompt
{
	visibility: hidden;
}

#u2354
{
	z-index: 131;
	height: 23px;
	background-color: #D8E028;
}

#u2354-bw
{
	z-index: 131;
	margin-top: 47px;
	height: 23px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

