.version.free_session_form /* version checker */
{
	color: #00000B;
	background-color: #1CB0F5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6121019108274px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#pamphletu1917
{
	z-index: 2;
	width: 0.01px;
	height: 60px;
	margin-left: 305px;
}

#u1926popup
{
	z-index: 3;
}

#u1926
{
	width: 424px;
	padding-bottom: 44px;
	top: 79px;
	left: -327px;
}

#u1929
{
	z-index: 4;
	width: 380px;
	height: 379px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#menuu1947
{
	z-index: 5;
	width: 171px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 108px;
}

#u2165
{
	width: 171px;
}

#u2166
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u2166:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2169-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 11px;
}

#u2166:active #u2169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1958
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2166.MuseMenuActive,#u1958:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1959-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2166.MuseMenuActive #u2169-4,#u1958:active #u1959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1991
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u1958.MuseMenuActive,#u1991:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1994-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u1958.MuseMenuActive #u1959-4,#u1991:active #u1994-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2000
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u1991.MuseMenuActive,#u2000:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2003-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u1991.MuseMenuActive #u1994-4,#u2000:active #u2003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2000.MuseMenuActive,#u2005:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2008-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2000.MuseMenuActive #u2003-4,#u2005:active #u2008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1955,#u1990,#u1997,#u2004,#u2011
{
	width: 171px;
	margin-top: 2px;
}

#u2014
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2005.MuseMenuActive,#u2014:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2014.MuseMenuActive
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2017-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2005.MuseMenuActive #u2008-4,#u2014:active #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2014.MuseMenuActive #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1918
{
	z-index: 42;
	width: 75px;
	margin-right: -10000px;
}

#u1921
{
	width: 75px;
	height: 60px;
}

.ie #u1921
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1933
{
	width: 27px;
	padding-bottom: 3px;
	top: 101px;
	left: 46px;
}

#u1933:hover
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u1933:active
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u1934-4
{
	z-index: 45;
	width: 11px;
	min-height: 23px;
	margin-right: -10000px;
	left: 8px;
}

#pu1946
{
	width: 0.01px;
	margin-top: -50px;
}

#u1946
{
	z-index: 49;
	width: 36px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 324px;
}

#u1943
{
	z-index: 50;
	width: 36px;
	height: 4px;
}

#u1944
{
	z-index: 51;
	width: 36px;
	height: 4px;
	margin-top: 6px;
}

#u1945
{
	z-index: 52;
	width: 36px;
	height: 4px;
	margin-top: 6px;
}

#u1876
{
	z-index: 129;
	min-height: 15px;
	padding-bottom: 3px;
}

#u1877-4
{
	z-index: 130;
	margin-right: -10000px;
	margin-top: 3px;
	left: 80px;
}

#u1876-bw
{
	z-index: 129;
	min-height: 15px;
	margin-top: 50px;
}

#u1878
{
	z-index: 134;
	width: 292px;
	margin-right: -10000px;
	left: 13px;
}

#u2376-4
{
	z-index: 53;
	min-height: 26px;
	background-color: transparent;
	color: #A0A0A0;
	text-align: center;
	font-size: 26px;
	line-height: 31px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u2376-4-bw
{
	z-index: 53;
	min-height: 26px;
	margin-top: 11px;
}

#u2389
{
	z-index: 57;
	min-height: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2389-bw
{
	z-index: 57;
	min-height: 225px;
	margin-top: 4px;
}

#pu2391
{
	width: 0.01px;
	margin-top: 15px;
}

#u2391
{
	z-index: 58;
	min-height: 83px;
	background-color: #E1E1DE;
	padding-bottom: 174px;
}

#u2393-4
{
	z-index: 63;
	width: 354px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 0px;
	text-align: justify;
	font-size: 17px;
	line-height: 20px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 13px;
}

#u2391-bw
{
	z-index: 58;
	min-height: 83px;
}

#u2392-4
{
	z-index: 59;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u2392-4-bw
{
	z-index: 59;
	min-height: 25px;
	margin-top: 4px;
}

#widgetu2394
{
	z-index: 67;
	width: 0.01px;
	height: 175px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 13px;
}

#widgetu2403
{
	z-index: 68;
	width: 355px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu2403.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 355px;
	height: 30px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u2404-4
{
	z-index: 69;
	width: 341px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu2403.non-empty-st #u2404-4
{
	background-color: #FFFFFF;
}

#widgetu2403:hover #u2404-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 341px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2403.focus-st #u2404-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 341px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2403.fld-err-st #u2404-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 341px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2403.non-empty-st #u2404-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2403:hover #u2404-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2403.focus-st #u2404-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2403_input,#widgetu2403_prompt
{
	width: 341px;
	min-height: 16px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	padding: 6px;
}

#widgetu2407
{
	z-index: 73;
	width: 356px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: -1px;
}

#widgetu2407.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 356px;
	height: 30px;
	min-height: 0px;
	margin: 37px -10000px 0px 0px;
}

#u2409-4
{
	z-index: 74;
	width: 342px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu2407.non-empty-st #u2409-4
{
	background-color: #FFFFFF;
}

#widgetu2407:hover #u2409-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2407.focus-st #u2409-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2407.non-empty-st #u2409-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2407:hover #u2409-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2407.focus-st #u2409-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2396-4
{
	z-index: 78;
	width: 89px;
	min-height: 12px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 10px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 176px;
}

#widgetu2394.frm-sub-st #u2396-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 16px;
}

#widgetu2394.frm-sub-st #u2396-4 p
{
	color: #999999;
	font-size: 10px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2398-4
{
	z-index: 82;
	width: 268px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 69px;
}

#widgetu2394.frm-subm-err-st #u2398-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu2394.frm-subm-err-st #u2398-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2397-4
{
	z-index: 86;
	width: 95px;
	min-height: 10px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	text-align: right;
	font-size: 10px;
	line-height: 10px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 177px;
}

#widgetu2394.frm-subm-ok-st #u2397-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 14px;
}

#widgetu2394.frm-subm-ok-st #u2397-4 p
{
	color: #999999;
	font-size: 10px;
	text-align: right;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2395-17
{
	z-index: 90;
	min-height: 32px;
	width: 153px;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	background: url("../../images/u2395-17.png") no-repeat 0px 0px;
}

#u2395-17:hover
{
	background: url("../../images/u2395-17-r.png") no-repeat 0px 0px;
}

#u2395-17:active
{
	background: url("../../images/u2395-17-m.png") no-repeat 0px 0px;
}

#widgetu2394.frm-sub-st #u2395-17
{
	background: url("../../images/u2395-17-fs.png") no-repeat 0px 0px;
}

#widgetu2399
{
	z-index: 107;
	width: 356px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: -1px;
}

#widgetu2399.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 356px;
	height: 30px;
	min-height: 0px;
	margin: 73px -10000px 0px 0px;
}

#u2401-4
{
	z-index: 108;
	width: 342px;
	min-height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu2399.non-empty-st #u2401-4
{
	background-color: #FFFFFF;
}

#widgetu2399:hover #u2401-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2399.focus-st #u2401-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2407.fld-err-st #u2409-4,#widgetu2399.fld-err-st #u2401-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 16px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2399.non-empty-st #u2401-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2399:hover #u2401-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2399.focus-st #u2401-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2403.fld-err-st #u2404-4 *,#widgetu2407.fld-err-st #u2409-4 *,#widgetu2399.fld-err-st #u2401-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2407_input,#widgetu2407_prompt,#widgetu2399_input,#widgetu2399_prompt
{
	width: 342px;
	min-height: 16px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	padding: 6px;
}

#widgetu2403:hover #widgetu2403_input,#widgetu2403.focus-st #widgetu2403_input,#widgetu2403.fld-err-st #widgetu2403_input,#widgetu2403:hover #widgetu2403_prompt,#widgetu2403.focus-st #widgetu2403_prompt,#widgetu2403.fld-err-st #widgetu2403_prompt,#widgetu2407:hover #widgetu2407_input,#widgetu2407.focus-st #widgetu2407_input,#widgetu2407.fld-err-st #widgetu2407_input,#widgetu2407:hover #widgetu2407_prompt,#widgetu2407.focus-st #widgetu2407_prompt,#widgetu2407.fld-err-st #widgetu2407_prompt,#widgetu2399:hover #widgetu2399_input,#widgetu2399.focus-st #widgetu2399_input,#widgetu2399.fld-err-st #widgetu2399_input,#widgetu2399:hover #widgetu2399_prompt,#widgetu2399.focus-st #widgetu2399_prompt,#widgetu2399.fld-err-st #widgetu2399_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2403.non-empty-st #widgetu2403_prompt,#widgetu2407.non-empty-st #widgetu2407_prompt,#widgetu2399.non-empty-st #widgetu2399_prompt
{
	visibility: hidden;
}

#freetrial
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 179px;
}

#pu2411
{
	width: 0.01px;
	margin-top: 10px;
}

#u2411
{
	z-index: 112;
	height: 115px;
	background-color: #E1E1DE;
}

#u2411-bw
{
	z-index: 112;
	height: 115px;
}

#u2412-4
{
	z-index: 113;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u2412-4-bw
{
	z-index: 113;
	min-height: 31px;
	margin-top: 5px;
}

#u2413-4
{
	z-index: 117;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#u2413-4-bw
{
	z-index: 117;
	min-height: 29px;
	margin-top: 36px;
}

#u2414-6
{
	z-index: 121;
	min-height: 43px;
	background-color: transparent;
	letter-spacing: -1px;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 400;
}

#u2414-6-bw
{
	z-index: 121;
	min-height: 43px;
	margin-top: 61px;
}

#u2415
{
	z-index: 127;
	height: 23px;
	background-color: #D8E028;
}

#u2415-bw
{
	z-index: 127;
	margin-top: 48px;
	height: 23px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

