#u2169-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1959-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1994-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2003-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2008-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2017-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1934-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2295-4,#u2296-4,#u2297-4,#u2298-4,#u2299-4,#u2300-4,#u2304-4,#u2310-4,#u2305-4,#u2311-4,#u2306-4,#u2312-4,#u2307-4,#u2313-4,#u2309-4,#u2314-4,#u2308-4,#u2315-4,#u2303-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2293-4,#u2302-4,#u2317-4
{
	font-family: league-gothic-n4, sans-serif;
}

