#u2169-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1959-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1994-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2003-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2008-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2017-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1934-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2252-4,#u2257-14,#u2267-16,#u2272-12,#u2277-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2253-4,#u2258-4,#u2268-4,#u2273-4,#u2278-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2246-4,#u2283-4
{
	font-family: league-gothic-n4, sans-serif;
}

