#u2169-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1959-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1994-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2003-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2008-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2017-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1934-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2376-4,#u2392-4,#u2412-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2393-4,#u2413-4,#u2414-6
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

