#u2169-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1959-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1994-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2003-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2008-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2017-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1934-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2329-4,#u2355-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2330-4,#u2331-4,#u2335-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2352-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2347-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2344-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

