#u2169-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1959-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1994-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2003-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2008-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2017-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1934-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2363-4,#u2365-4,#u2364-4,#u2366-4
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2361-4,#u2368-4
{
	font-family: league-gothic-n4, sans-serif;
}

