#u2169-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1959-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1994-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2003-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2008-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u2017-4
{
	font-family: league-gothic-n4, sans-serif;
}

#u1934-4
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

#u2206-7,#u2208-10,#u2213-4,#u2214-4,#u2218-5,#u2224-4,#u2231-10
{
	font-family: pt-sans-narrow-n4, sans-serif;
}

#u2205-12,#u2207-4,#u2212-4,#u2230-4,#u2236-4
{
	font-family: league-gothic-n4, sans-serif;
}

