#u1926
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	-pie-background: rgba(255,255,255,0.9);
}

#u2165,#u2166
{
	background-color: transparent;
	position: relative;
}

#u2166:active
{
	background-color: transparent;
}

#u2169-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 31px;
	line-height: 37px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1955,#u1958
{
	background-color: transparent;
	position: relative;
}

#u1958:active
{
	background-color: transparent;
}

#u1959-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 31px;
	line-height: 37px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1990,#u1991
{
	background-color: transparent;
	position: relative;
}

#u1991:active
{
	background-color: transparent;
}

#u1994-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 31px;
	line-height: 37px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1997,#u2000
{
	background-color: transparent;
	position: relative;
}

#u2000:active
{
	background-color: transparent;
}

#u2003-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 31px;
	line-height: 37px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2004,#u2005
{
	background-color: transparent;
	position: relative;
}

#u2005:active
{
	background-color: transparent;
}

#u2008-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 31px;
	line-height: 37px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2011,#u2014
{
	background-color: transparent;
	position: relative;
}

#u2014:active
{
	background-color: transparent;
}

#u2017-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 31px;
	line-height: 37px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
	position: relative;
}

#pamphletu1917,#u1918
{
	position: relative;
}

#u1921
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1933
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #D8E028;
}

#u1933:hover
{
	background-color: #999999;
}

#u1933:active
{
	background-color: #6B6B6B;
}

#u1934-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-family: pt-sans-narrow, sans-serif;
	font-weight: 700;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u1929,#menuu1947,#u1946
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1943,#u1944,#u1945
{
	background-color: #D8E028;
	position: relative;
}

#u1876
{
	border-style: none;
	border-color: transparent;
	background-color: #D8E028;
}

#u1877-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u1878
{
	background-color: transparent;
	position: relative;
}

