.version.newsletter_page /* version checker */
{
	color: #000013;
	background-color: #50396E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9621019108281px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#pamphletu1917
{
	z-index: 2;
	width: 0.01px;
	height: 60px;
	margin-left: 305px;
}

#u1926popup
{
	z-index: 3;
}

#u1926
{
	width: 424px;
	padding-bottom: 44px;
	top: 79px;
	left: -327px;
}

#u1929
{
	z-index: 4;
	width: 380px;
	height: 379px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#menuu1947
{
	z-index: 5;
	width: 171px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 108px;
}

#u2165
{
	width: 171px;
}

#u2166
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 23px;
	margin-right: -10000px;
}

#u2166:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2169-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 11px;
}

#u2166:active #u2169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1958
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2166.MuseMenuActive,#u1958:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1959-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2166.MuseMenuActive #u2169-4,#u1958:active #u1959-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1991
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u1958.MuseMenuActive,#u1991:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u1994-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u1958.MuseMenuActive #u1959-4,#u1991:active #u1994-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2000
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u1991.MuseMenuActive,#u2000:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2003-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u1991.MuseMenuActive #u1994-4,#u2000:active #u2003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2000.MuseMenuActive,#u2005:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2008-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2000.MuseMenuActive #u2003-4,#u2005:active #u2008-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1955,#u1990,#u1997,#u2004,#u2011
{
	width: 171px;
	margin-top: 2px;
}

#u2014
{
	width: 171px;
	min-height: 37px;
	padding-bottom: 24px;
	margin-right: -10000px;
}

#u2005.MuseMenuActive,#u2014:active
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2014.MuseMenuActive
{
	width: 171px;
	min-height: 37px;
	margin: 0px -10000px 0px 0px;
}

#u2017-4
{
	width: 171px;
	min-height: 37px;
	margin-right: -10000px;
	top: 12px;
}

#u2005.MuseMenuActive #u2008-4,#u2014:active #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u2014.MuseMenuActive #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 171px;
	margin: 0px -10000px 0px 0px;
}

#u1918
{
	z-index: 42;
	width: 75px;
	margin-right: -10000px;
}

#u1921
{
	width: 75px;
	height: 60px;
}

.ie #u1921
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1933
{
	width: 27px;
	padding-bottom: 3px;
	top: 101px;
	left: 46px;
}

#u1933:hover
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u1933:active
{
	width: 27px;
	min-height: 0px;
	margin: 0px;
}

#u1934-4
{
	z-index: 45;
	width: 11px;
	min-height: 23px;
	margin-right: -10000px;
	left: 8px;
}

#pu1946
{
	width: 0.01px;
	margin-top: -50px;
}

#u1946
{
	z-index: 49;
	width: 36px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 324px;
}

#u1943
{
	z-index: 50;
	width: 36px;
	height: 4px;
}

#u1944
{
	z-index: 51;
	width: 36px;
	height: 4px;
	margin-top: 6px;
}

#u1945
{
	z-index: 52;
	width: 36px;
	height: 4px;
	margin-top: 6px;
}

#u1876
{
	z-index: 64;
	min-height: 15px;
	padding-bottom: 3px;
}

#u1877-4
{
	z-index: 65;
	margin-right: -10000px;
	margin-top: 3px;
	left: 80px;
}

#u1876-bw
{
	z-index: 64;
	min-height: 15px;
	margin-top: 50px;
}

#u1878
{
	z-index: 69;
	width: 292px;
	margin-right: -10000px;
	left: 13px;
}

#u2358-6
{
	z-index: 53;
	min-height: 141px;
	background-color: transparent;
	text-align: center;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u2358-2
{
	font-size: 30px;
	line-height: 26px;
	color: #EF4036;
}

#u2358-4
{
	font-size: 91px;
	line-height: 79px;
	letter-spacing: -3px;
	color: #8A8A8A;
}

#u2358-6-bw
{
	z-index: 53;
	min-height: 141px;
	margin-top: 27px;
}

#u2360-4
{
	z-index: 60;
	min-height: 21px;
	background-color: transparent;
	color: #8B8B8B;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: league-gothic, sans-serif;
	font-weight: 400;
}

#u2360
{
	text-decoration: underline;
}

#u2360-4-bw
{
	z-index: 60;
	min-height: 21px;
	margin-top: 252px;
}

#u2359
{
	z-index: 59;
	height: 23px;
	background-color: #D8E028;
}

#u2359-bw
{
	z-index: 59;
	margin-top: 19px;
	height: 23px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

